.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        gap: 4rem;
        list-style: none;
    }

    a:link,
    a:visited {
        font-size: 1.5rem;
        color: var(--color-light--2);
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:global(.active) {
        color: var(--color-light--2);
    }

    a.ctaLink:link,
    a.ctaLink:visited {
        color: var(--color-dark--0);
        background-color: var(--color-brand--2);
        padding: 0.8rem 2rem;
        border-radius: 7px;
    }
}